@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");

* {
  font-family: Nunito Sans;
}

#sidebar {
  transition: all 0.7s ease;
}

button{
  cursor: pointer;
}
:root{
  --color-FDFDFD:#FDFDFD;
  --color-1A3E3E:#1A3E3E;
  --color-18121E:#18121E;
  --color-F2BE22:#F2BE22;
  --color-F3F5F4:#F3F5F4;
}

.ower{
  overflow-x: auto;
}
