@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");

* {
  font-family: Nunito Sans;
}

#sidebar {
  transition: all 0.7s ease;
}

button {
  cursor: pointer;
}
:root {
  --color-FDFDFD: #fdfdfd;
  --color-1A3E3E: #1a3e3e;
  --color-18121E: #18121e;
  --color-F2BE22: #f2be22;
  --color-F3F5F4: #f3f5f4;
}

.ower {
  overflow-x: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
